
 .carousel{
   width: 70%;
   height: 100vh;
   margin: 0 auto;

   .carousel-inner{
     position: relative;
     height: 100vh;
     
     .d-block{
       height: 95vh;
     }

     .carousel-caption{
       position: absolute;
       height: 60vh;
       }
      
    }
   

 }


 .card{
   margin: 0 auto;
 }

 .second-wrapper{

   .img-second{
    height: 80vh;
   }
 }



 .link-t-a{
   position: relative;
   top: -90px;
   display: block;
 }

 .footer-contact{
   .footer-mail{
     margin-top: 150px;
     margin-bottom: 200px;
   }
 }
